html, body {
    
 -webkit-user-select: none; /* Safari */        
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
    
    height: 100%;
    width:100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


body {
    font-family: monospace;
    background-image: linear-gradient(to left, lightpink, lightblue);
}

h1 {
    padding: 25px;
    margin: 20px;
    text-align: center;
}

.container {
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 550px;
    width: 420px;
    box-shadow: 8px 10px 4px grey;
    background: black;
    border-radius: 10px;
}

.output {
    position: relative;
    top: 20px;
    text-align: center;
}

input {
    text-align: end;
    padding: 8px;
    font-size: 25px;
}

#display {
    outline: none;
    width: 380px;
    height: 60px;
    background: #f1f1f1;
    border-radius: 10px;
    border-color: none;
    border: none;
}

.keyboard {
    width: 400px;
    position: relative;
    top: 40px;
    margin: 10px;
    text-align: center;
}

button {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
    color:"black";
    background: white;
    border: none;
    margin:12px;
   
    padding-top: 2px;
    padding-bottom:2px;
    outline: none;
    border-radius: 20%;
    width: 60px;
    height: 50px;
    box-shadow: 2px 4px 2px grey;
}


button:hover {
    box-shadow: 2px 4px 2px white;
}

button:nth-child(1) {
    background: lightgrey;
}

button:nth-child(2) {
    font-weight: 550;
    background: lightgrey;
}

button:nth-child(3) {
    background: lightgrey;
}

button:nth-child(4) {
    background: lightgreen;
}

button:nth-child(8) {
    background: aqua;
}
button:nth-child(16) {
    background: pink;
    font-size: 25px;
}

button:nth-child(20) {
    background: yellow;
}
